<header>
    <div class="header-label">
        <p>FREE US SHIPPING AND RETURN</p>
    </div>
    <div class="main-header">
        <div class="c-flex menu c-space-between c-align-center">
            <div class="c-flex w20-sm">
                <div class="menu-text d-show">MEN</div>
                <div class="menu-text d-show">WOMEN</div>
                <div class="d-show-12"><img [src]="hamburger"></div>
            </div>
            <div class="logo">
                <img [src]="logo">
            </div>
            <div class="side-menu c-flex c-align-center w20-sm">
                <div class="menu-text d-show">ABOUT</div>
                <div class="menu-img">
                    <img [src]="user">
                </div>
                <div>
                    <img [src]="bag">
                </div>
            </div>
        </div>
    </div>
</header>