<header>
    <div class="header-label">
        <p>FREE US SHIPPING AND RETURN</p>
    </div>
    <div class="main-header">
        <div class="c-flex menu c-space-between">
            <div class="c-flex">
                <div class="menu-text">MEN</div>
                <div class="menu-text">WOMEN</div>
            </div>
            <div class="logo">
                logo
            </div>
            <div class="side-menu c-flex">
                <div class="menu-text">ABOUT</div>
                <div class="menu-text">USER</div>
                <div class="menu-text">BAG</div>
            </div>
        </div>
    </div>
</header>