<!-- Feature Strip -->
<div class="cl strip">
    <img class="d-show" [src]="strip">
    <img class="d-show-12" [src]="stripSmall">
</div>
<footer>
    <!-- Footer Menu Listing -->
    <div class="row">
        <div class="cl c-flex c-space-between">
            <div class="c-flex c-space-between w100 footerMenu">
                <div class="listing">
                    <h4>Men</h4>
                    <ul>
                        <li *ngFor="let list of footerListMen">{{list}}</li>
                    </ul>
                </div>
                <div class="listing">
                    <h4>Women</h4>
                    <ul>
                        <li *ngFor="let list of footerListMen">{{list}}</li>
                    </ul>
                </div>
                <div class="listing">
                    <h4>SUPPORT</h4>
                    <ul>
                        <li *ngFor="let list of support">{{list}}</li>
                    </ul>
                </div>
                <div class="listing">
                    <h4>About</h4>
                    <ul>
                        <li *ngFor="let list of about">{{list}}</li>
                    </ul>
                </div>
                <div class="listing">
                    <h4>PopUp Stores</h4>
                    <ul>
                        <li *ngFor="let list of stores">{{list}}</li>
                    </ul>
                    <ul class="straight d-show">
                        <li class="c-flex border-class">
                            <input class="search" placeholder="Find your sneakers here">
                            <img class="searchIcon" [src]="search">
                        </li>
                    </ul>
                </div>
                <div class="listing">
                    <h4>NewsLetter</h4>
                    <ul class="straight">
                        <li>
                            <input placeholder="Enter email">
                        </li>
                        <li>
                            <div>JOIN US</div>
                        </li>
                    </ul>
                    <ul class="straight">
                        <li class="log">
                            <img [src]="fb">
                        </li>
                        <li class="log">
                            <img [src]="insta">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- CopyRight -->
        <div class="cl">
            <span class="copyright">
                Copyright © 2019 CARIUMA. All Rights Reserved. Terms of Use | Privacy Policy
            </span>
        </div>
    </div>
</footer>