<div class="product-wrapper-container">
    <!-- Decription -->
    <div class="row pad-25">
        <!-- Size Chart -->
        <div class="cl-4 cl-xs-12 cl order-xs-1">
            <div class="pad-25 w100">
                <div class="c-flex column w100 c-center c-align-center">
                    <div class="overview">
                        <div class="c-flex c-space-between">
                            <span class="product-name">{{product?.name}}</span>
                            <span class="price">{{product?.price}}</span>
                        </div>
                        <div class="c-flex c-space-between">
                            <span class="description">{{product?.description}}</span>
                            <span class="rating">
                                <i *ngFor="let s of stars">
                                    <img [src]="star">
                                </i>
                                <i>
                                    <img [src]="fullStar">
                                </i>154 Rating</span>
                        </div>
                    </div>
                    <div class="size-chart">
                        <div class="c-flex c-space-between sep">
                            <div class="tab c-flex c-center c-align-center" [ngClass]="{'in-active-left':men}" (click)='toggleSizeChart()'>
                                <span>MEN</span>
                            </div>
                            <div class="tab c-flex c-center c-align-center" [ngClass]="{'in-active':!men}" (click)='toggleSizeChart()'>
                                <span>WOMEN</span>
                            </div>
                        </div>
                        <div class="pad-12 size-color-pallete">
                            <span>SELECT COLOR</span>
                            <div class="colors c-flex c-align-center">
                                <div class="marker-container" *ngFor="let color of colorPallete;let i=index" [ngClass]="{'active': i==6}">
                                    <div class="marker" [ngStyle]="{ 'background-color': color }" ></div>
                                </div>
                                <div class="marker-container">
                                    <div class="marker marker-multi"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pad-12 size-index">
                            <div class="c-flex c-space-between">
                                <span>SELECT SIZE</span>
                                <span class="underline">SIZE & FIT GUIDE</span>
                            </div>
                            <div class="size-panel c-flex">
                                <div class="sizer" *ngFor="let size of sizeList" [ngClass]="{'disabled':!size.disabled }">
                                    <span>
                                        {{size.size}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="add-button w100">
                            <span>ADD TO BAG</span>
                        </div>
                    </div>
                    <div>
                        <span class="shipping">Worldwide Shipping + Free Returns</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details -->
        <div class="cl-8 cl-xs-12 cl">
            <div class="pad-25 w100">
                <div class="c-flex column">
                    <div class="product-main-image c-flex c-center">
                        <img [src]="image?.url">
                    </div>
                    <div class="carousel-container c-flex c-center">
                        <div class="thumbnail c-flex c-center c-align-center" *ngFor="let image of images;">
                            <img [src]="image?.url" (click)="getImagebyProductId(image)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Favourites -->
    <div class="fav">
        <div class="row">
            <div class="cl">
                <div class="product-list">
                    <h3>You’ll Also Like</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cl">
                <div class="car-container" ng2-carouselamos [width]="" [items]="listOfItems" [$item]="itemTemplate" [$prev]="prevTemplate"
                    [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>
            </div>
        </div>
    </div>
    <!-- Products {{products|json}} Product {{product|json}} Image {{image|json}} Images {{images|json}} -->


    <!-- <div>
    Current item selected
    <br /> {{ selectedIndex }} - {{ selectedItem }}
</div> -->

    <ng-template #prevTemplate>
        <span>
            <img class="arrowL" [src]="arrowLeft">
        </span>
    </ng-template>

    <ng-template #nextTemplate>
        <span>
            <img class="arrowR" [src]="arrowRight">
        </span>
    </ng-template>

    <ng-template let-item let-i="index" #itemTemplate>
        <div class="product-wrapper">
            <div class="product-image">
                <div class="description" *ngIf="item?.desc">
                    {{item?.desc}}
                </div>
                <img [src]="item?.url">
            </div>
            <div class="product-text c-flex column">
                <span class="name">{{item?.name}}</span>
                <span class="price">${{item?.price}}</span>
            </div>
        </div>
    </ng-template>
</div>