/* You can add global styles to this file, and also import other style files */

// Reset Browser Default
* {
    margin: 0;
    padding: 0;
}

.w100 {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

@import "media-query";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
.c-flex {
    display: flex;
}

.d-show {
    display: block;
}

.d-show-12 {
    display: none;
}

.c-space-between {
    justify-content: space-between;
}

.c-space-around {
    justify-content: space-around;
}

.c-center {
    justify-content: center;
}

.c-align-center {
    align-items: center;
}

.column {
    flex-direction: column;
    width: 100%;
}

.cl,
div[class*="cl"] {}

.cl {
    display: flex;
    width: 100%
}

.cl-4 {
    display: flex;
    width: 33.33%
}

.cl-8 {
    display: flex;
    width: 66.66%
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.pad-25{
    padding: 0px 25px;
}
@include respond-to(sm) {
    .cl-sm-12 {
        display: flex;
        width: 100%;
    }
    .order-sm-1 {
        order: 1
    }
}

@include respond-to(xs) {
    .cl-xs-12 {
        display: flex;
        width: 100%;
    }
    .order-xs-1 {
        order: 1
    }
    .d-show {
        display: none;
    }
    .d-show-12 {
        display: block;
    }
    .pad-25{
        padding: 0px 0px;
    }
}

@include respond-to(md) {}

@include respond-to(lg) {}

@include respond-to(xl) {}